@import "bootstrap/bootstrap.less";
@import "bootswatch.less";
@import "profile.less";

#banner {
  border-bottom: none;
  @media (max-width: 767px) {
    margin-bottom: 2em;
    text-align: center;
  }
}

body {
    padding-top: 50px;
}

.page-header h1 {
    font-size: 4em;
}

.bs-docs-section {
    margin-top: 8em;
}

.nav-tabs {
    margin-bottom: 15px;
}

.progress {
    margin-bottom: 10px;
}


.bs-component {
  position: relative;
  .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
  }
  .modal-dialog {
    width: 90%;
  }
  .popover {
    position: relative;
    display: inline-block;
    width: 200px;
    margin: 20px;
  }
}

footer {
  margin: 5em 0 2em 0;
  li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
  }
  p {
    clear: left;
    margin-bottom: 0;
  }
}
